<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AQUA Apps | 404</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AQUA Apps">
        <meta name="author" content="AQUA Apps">
        <meta name="robots" content="noindex">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic' rel='stylesheet' type='text/css'>

        <!-- Themes -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- Angular Material -->
        <link rel="stylesheet" href="src/libs/angular-material.min.css">

        <!-- MailChimp -->
        <link rel="stylesheet" href="src/libs/mailchimp-horizontal-slim-10_7.css">
    </head>

    <body class="nodrag" ng-app="AQUA Apps" ng-cloak>
        <!-- ******************** Navigation ******************** -->
        <md-toolbar id="toolbar" class="toolbar" layout="row" style="position: fixed;">
            <div class="md-toolbar-tools">
                <a class="nodrag" href="http://aquaapps.co"><md-icon class="toolbar-logo" md-svg-icon="images/vector/ic-aquaapps.svg"></md-icon></a>
                <h2><a class="toolbar-name nodrag" href="http://aquaapps.co">AQUA Apps</a></h2>
            </div>
        </md-toolbar>

        <div class="promo-section" layout="column" layout-align="center center">
            <div>
                <img class="promo-logo nodrag" src="images/logo-aquaapps.png" />
            </div>
            <h1 style="text-align:center;">Sorry - this page doesn't exist or is currently unavailable.</h1>
            <div class="dev-btns" layout="row">
                <md-button class="md-raised dev-btn nodrag" href="http://aquaapps.co">Take Me Home</md-button>
            </div>
        </div>

        <!-- ******************** Footer ******************** -->
        <footer class="footer" ng-controller="SiteCtrl">
            <div style="text-align: center;">
                <div class="copyright" layout="row" layout-align="center center">Copyright &copy; 2012-2016, AQUA Apps. All rights reserved.</div>
                <div class="copyright legal-trademarks" layout="row" layout-align="center center">Android, Google Play, and the Google Play logo are trademarks of Google Inc.</div>
                <small class="copyright" layout="row" layout-align="center center">
                    <md-button id="btnPrivacy" ng-click="showLegal(true)">Privacy Policy</md-button>
                    <md-button id="btnTerms" ng-click="showLegal(false)">Terms of Service</md-button>
                </small>
            </div>
        </footer>

        <!-- Angular Material -->
        <script src="src/libs/angularjs-1.5.3-angular.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-animate.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-aria.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-messages.min.js"></script>
        <script src="src/libs/angular-sanitize-1.4.12.js"></script>
        <script src="src/libs/angularmaterial-1.1.0-rc2-angular-material.min.js"></script>

        <!-- Javascript -->
        <script src="src/apps/Apps.js"></script>
        <script src="src/apps/AppController.js"></script>
        <script src="src/apps/AppService.js"></script>
        <script src="src/main.js"></script>
    </body>
</html>
